@import url("https://fonts.cdnfonts.com/css/amelyan");
@import url("https://fonts.cdnfonts.com/css/sign");

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
